
*.user
*.obj
*.tlog
*.idb
*.pdb
*.log
.svn/
*.lib
*.dll
*.exp
*.manifest
*.suo
*.lastbuildstate
*.unsuccessfulbuild
*.cache
*.ilk
*.pck
Debug/
sdl/Xcode-iOS/SDL/SDL.xcodeproj/xcuserdata/
sdl_image/Xcode-iOS/SDL_image.xcodeproj/xcuserdata/
sdl_mixer/Xcode-iOS/SDL_mixer.xcodeproj/xcuserdata/
xcuserdata
.DS_Store
project.xcworkspace
.hg/